* {
  padding: 0;
}

.OuterMost {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  align-items: center;
}

.BDRunContainer {
  position: absolute;
  top: 10vh;
  /* z-index: 4; */
  animation: bdRunContainerHide 3s linear 0s 1;
}

@keyframes bdRunContainerHide {
  0% {
    z-index: 4;
  }
  99.9% {
    z-index: 4;
  }
  100% {
    z-index: 0;
  }
}

.BDRun {
  position: absolute;
  top: -300vh;
  animation: bdRun 3s linear 0s 1 forwards;
}

@keyframes bdRun {
  0% {
    left: -50vw;
    transform: scale(0.05) rotate(10deg);
  }
  49% {
    left: -190vw;
    transform: scale(0.25) rotate(-10deg) scaleX(1);
  }
  50% {
    left: -190vw;
    transform: scale(0.35) rotate(10deg) scaleX(-1);
  }

  85% {
    left: -65vw;
    transform: scale(0.35) rotate(10deg) scaleX(-1) translateY(2vh);
    opacity: 1;
  }
  85.9% {
    left: -55vw;
    transform: scale(0.3) rotate(-10deg) scaleX(1) translateY(2vh);
    opacity: 1;
  }
  90% {
    left: -90vw;
    transform: scale(0.33) rotate(-5deg) scaleX(1) translateY(35vh);
    opacity: 0.35;
  }
  99.9% {
    left: -95vw;
    transform: scale(0.35) rotate(10deg) scaleX(1) translateY(35vh);
    opacity: 0.25;
  }
  100% {
    left: -95vw;
    transform: scale(0.35) rotate(0deg) scaleX(1) translateY(35vh);
    opacity: 0;
  }
}

.RunLeft {
  animation: bdSteps 0.25s linear 0s infinite forwards;
}

.RunRight {
  animation: bdSteps 0.25s linear 0.125s infinite forwards;
}

@keyframes bdSteps {
  0% {
    opacity: 0;
  }
  49.5% {
    opacity: 0;
  }
  50.5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.Non-IntroWapper {
  animation: nonIntroHide 4.5s linear 0s 1;
}

@keyframes nonIntroHide {
  0% {
    opacity: 0;
  }
  64% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  color: rgba(238, 207, 31, 90%);
  font-size: 3rem;
  text-shadow: 0 0 70px rgb(122, 217, 255);
  align-self: center;
  text-align: center;
  text-decoration: underline rgb(58, 58, 58);

  -webkit-text-stroke-width: 1px;

  background: radial-gradient(#71e3ff, #dbf4ffb0, #b7e8ff18);
  border-radius: 5px;
  margin-bottom: 0rem;
  padding: 0.5rem;
  padding-bottom: 0;
  z-index: top;
  position: relative;
}

@media only screen and (max-width: 449px) {
  .App {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    top: 0;
    margin-top: 12vh;
    padding-bottom: 10vh;
    padding-top: 0.5rem;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    z-index: 1;
  }
  h1 {
    font-size: 1.5rem;
  }
  .BDStandard {
    animation: bdAppear ease-out 3s linear 0s 1 forwards;
    margin-top: -20rem;
    margin-right: 15rem;
    margin-left: -48rem;
    transform: scale(0.75);
    z-index: 2;
  }
  .NewsFeedOn {
    position: absolute;
    color: rgb(0, 164, 230);
    font-size: 2rem;
    text-shadow: 0 0 50px rgb(122, 217, 255);
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    width: 60vw;
    height: 60vh;
    margin-top: 2vh;
    margin-left: -40vw;
    /* border: solid 1px rgb(213, 243, 255); */
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 15rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 0 80px rgb(122, 217, 255);
    filter: drop-shadow(0 0 50px #fff);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    z-index: 2;
    background: radial-gradient(#bcedfcf5, #92e6ffd7, #77e2ffce, #fdfeffc4);

    animation: NewsFeedFlicker 2s linear 0s infinite alternate-reverse;
    overflow-y: scroll;
  }
  .App button {
    position: absolute;
    height: 5rem;
    right: -16.5rem;
    margin-right: 4rem;
    max-width: 10rem;
    border: double 0.1rem rgba(218, 165, 32, 0.466);
    border-radius: 0.5rem;
    position: relative;
    color: rgb(255, 230, 0);

    z-index: 3;
  }

  .NewsFeedOn h1 {
    color: rgb(66, 66, 66);
    font-size: 1.2rem;
  }

  .NewsFeedOn p {
    color: rgb(66, 66, 66);
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 450px) and (max-width: 549px) {
  .App {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    top: 0;
    margin-top: 12vh;
    padding-bottom: 10vh;
    padding-top: 0.5rem;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    z-index: 1;
  }
  h1 {
    font-size: 2rem;
  }
  .BDStandard {
    animation: bdAppear ease-out 3s linear 0s 1 forwards;
    margin-top: -15rem;
    margin-right: 15rem;
    margin-left: -40rem;
    transform: scale(0.75);
    overflow: hidden;
    z-index: 2;
  }
  .NewsFeedOn {
    position: absolute;
    color: rgb(0, 164, 230);
    font-size: 1.25rem;
    text-shadow: 0 0 50px rgb(122, 217, 255);
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    width: 55vw;
    height: 60vh;
    margin-top: 2vh;
    margin-left: -20vw;
    /* border: solid 1px rgb(213, 243, 255); */
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 15rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 0 80px rgb(122, 217, 255);
    filter: drop-shadow(0 0 50px #fff);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    z-index: 2;
    background: radial-gradient(#bcedfcf5, #92e6ffd7, #77e2ffce, #fdfeffc4);

    animation: NewsFeedFlicker 2s linear 0s infinite alternate-reverse;
    overflow-y: scroll;
  }
  .App button {
    position: absolute;
    height: 5rem;
    right: -20rem;
    max-width: 10rem;
    border: double 0.1rem rgba(218, 165, 32, 0.466);
    border-radius: 0.5rem;
    position: relative;
    color: rgb(255, 230, 0);

    z-index: 3;
  }

  .NewsFeedOn h1 {
    color: rgb(66, 66, 66);
    font-size: 1.5rem;
  }

  .NewsFeedOn p {
    color: rgb(66, 66, 66);
    font-size: 1rem;
  }
}
@media only screen and (min-width: 550px) and (max-width: 650px) {
  .App {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    top: 0;
    margin-top: 12vh;
    padding-bottom: 10vh;
    padding-top: 0.5rem;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    z-index: 1;
  }
  .BDStandard {
    animation: bdAppear ease-out 3s linear 0s 1 forwards;
    margin-top: -20rem;
    margin-right: 15rem;
    margin-left: -35.5rem;
    transform: scale(0.85);
    overflow: hidden;
    z-index: 2;
  }
  .NewsFeedOn {
    position: absolute;
    color: rgb(0, 164, 230);
    font-size: 1.25rem;
    text-shadow: 0 0 50px rgb(122, 217, 255);
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    width: 54vw;
    height: 70vh;
    margin-top: -4vh;
    margin-left: -15vw;
    /* border: solid 1px rgb(213, 243, 255); */
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 15rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 0 80px rgb(122, 217, 255);
    filter: drop-shadow(0 0 50px #fff);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    z-index: 2;
    background: radial-gradient(#bcedfcf5, #92e6ffd7, #77e2ffce, #fdfeffc4);

    animation: NewsFeedFlicker 2s linear 0s infinite alternate-reverse;
    overflow-y: scroll;
  }
  .App button {
    position: absolute;
    height: 5rem;
    right: -25rem;
    max-width: 10rem;
    border: double 0.1rem rgba(218, 165, 32, 0.466);
    border-radius: 0.5rem;
    position: relative;
    color: rgb(255, 230, 0);

    z-index: 3;
  }
  .NewsFeedOn h1 {
    color: rgb(66, 66, 66);
    font-size: 2rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 767px) {
  .App {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    top: 0;
    margin-top: 12vh;
    padding-bottom: 10vh;
    padding-top: 0.5rem;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    z-index: 1;
  }
  .BDStandard {
    animation: bdAppear ease-out 3s linear 0s 1 forwards;
    margin-top: -15rem;
    margin-right: 15rem;
    margin-left: -30rem;
    transform: scale(0.85);
    overflow: hidden;
    z-index: 2;
  }
  .NewsFeedOn {
    position: absolute;
    color: rgb(0, 164, 230);
    font-size: 1.25rem;
    text-shadow: 0 0 50px rgb(122, 217, 255);
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    width: 50vw;
    height: 70vh;
    margin-top: -1vh;
    margin-left: -7vw;
    /* border: solid 1px rgb(213, 243, 255); */
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 15rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 0 80px rgb(122, 217, 255);
    filter: drop-shadow(0 0 50px #fff);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    z-index: 2;
    background: radial-gradient(#bcedfcf5, #92e6ffd7, #77e2ffce, #fdfeffc4);

    animation: NewsFeedFlicker 2s linear 0s infinite alternate-reverse;
    overflow-y: scroll;
  }
  .App button {
    position: absolute;
    height: 5rem;
    right: -32rem;
    max-width: 10rem;
    border: double 0.1rem rgba(218, 165, 32, 0.466);
    border-radius: 0.5rem;
    position: relative;
    color: rgb(255, 230, 0);

    z-index: 3;
  }
  .NewsFeedOn h1 {
    color: rgb(66, 66, 66);
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 878px) {
  .App {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    top: 0;
    margin-top: 12vh;
    padding-bottom: 10vh;
    padding-top: 0.5rem;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    z-index: 1;
  }
  h1 {
    font-size: 2.25rem;
  }
  .BDStandard {
    animation: bdAppear ease-out 3s linear 0s 1 forwards;
    margin-top: -15rem;
    margin-right: 15rem;
    margin-left: -24rem;
    transform: scale(0.85);
    overflow: hidden;
    z-index: 2;
  }
  .NewsFeedOn {
    position: absolute;
    color: rgb(0, 164, 230);
    font-size: 1.25rem;
    text-shadow: 0 0 50px rgb(122, 217, 255);
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    width: 53vw;
    height: 65vh;
    margin-top: 0vh;
    margin-left: -5vw;
    /* border: solid 1px rgb(213, 243, 255); */
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 15rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 0 80px rgb(122, 217, 255);
    filter: drop-shadow(0 0 50px #fff);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    z-index: 2;
    background: radial-gradient(#bcedfcf5, #92e6ffd7, #77e2ffce, #fdfeffc4);

    animation: NewsFeedFlicker 2s linear 0s infinite alternate-reverse;
    overflow-y: scroll;
  }
  .NewsFeedOn h1 {
    color: rgb(66, 66, 66);
    font-size: 2rem;
  }

  .NewsFeedOn p {
    font-size: 1rem;
  }
  .App button {
    position: absolute;
    height: 5rem;
    right: -38rem;
    max-width: 10rem;
    border: double 0.1rem rgba(218, 165, 32, 0.466);
    border-radius: 0.5rem;
    position: relative;
    color: rgb(255, 230, 0);

    z-index: 3;
  }
}

@media only screen and (min-width: 879px) and (max-width: 1024px) {
  .App {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    top: 0;
    margin-top: 12vh;
    padding-bottom: 10vh;
    padding-top: 0.5rem;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    z-index: 1;
  }
  .BDStandard {
    animation: bdAppear ease-out 3s linear 0s 1 forwards;
    margin-top: -15rem;
    margin-right: 15rem;
    margin-left: -20rem;
    transform: scale(0.9);
    overflow: hidden;
    z-index: 2;
  }
  .NewsFeedOn {
    position: absolute;
    color: rgb(0, 164, 230);
    font-size: 1.25rem;
    text-shadow: 0 0 50px rgb(122, 217, 255);
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    width: 45vw;
    height: 70vh;
    margin-top: -1vh;
    margin-left: 6vw;
    /* border: solid 1px rgb(213, 243, 255); */
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 15rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 0 80px rgb(122, 217, 255);
    filter: drop-shadow(0 0 50px #fff);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    z-index: 2;
    background: radial-gradient(#bcedfcf5, #92e6ffd7, #77e2ffce, #fdfeffc4);

    animation: NewsFeedFlicker 2s linear 0s infinite alternate-reverse;
    overflow-y: scroll;
  }
  .NewsFeedOn h1 {
    color: rgb(66, 66, 66);
    font-size: 2rem;
  }

  .NewsFeedOn p {
    font-size: 1rem;
  }
  .App button {
    position: absolute;
    height: 5rem;
    right: -43rem;
    max-width: 10rem;
    border: double 0.1rem rgba(218, 165, 32, 0.466);
    border-radius: 0.5rem;
    position: relative;
    color: rgb(255, 230, 0);

    z-index: 3;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1149px) {
  .App {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    top: 0;
    margin-top: 12vh;
    padding-bottom: 10vh;
    padding-top: 0.5rem;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    z-index: 1;
  }
  .BDStandard {
    animation: bdAppear ease-out 3s linear 0s 1 forwards;
    margin-top: -12rem;
    margin-right: 15rem;
    margin-left: -19rem;
    transform: scale(0.85);
    overflow: hidden;
    z-index: 2;
  }
  .NewsFeedOn {
    position: absolute;
    color: rgb(0, 164, 230);
    font-size: 1.25rem;
    text-shadow: 0 0 50px rgb(122, 217, 255);
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    width: 42vw;
    height: 70vh;
    margin-top: 0vh;
    margin-left: 2vw;
    /* border: solid 1px rgb(213, 243, 255); */
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 15rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 0 80px rgb(122, 217, 255);
    filter: drop-shadow(0 0 50px #fff);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    z-index: 2;
    background: radial-gradient(#bcedfcf5, #92e6ffd7, #77e2ffce, #fdfeffc4);

    animation: NewsFeedFlicker 2s linear 0s infinite alternate-reverse;
    overflow-y: scroll;
  }
  .App button {
    height: 5rem;
    max-width: 10rem;
    border: double 0.1rem rgba(218, 165, 32, 0.466);
    border-radius: 0.5rem;
    position: relative;
    color: rgb(255, 230, 0);
    margin-left: 5rem;
    margin-right: 3rem;
    margin-top: 10rem;
    z-index: 3;
  }
  .NewsFeedOn h1 {
    color: rgb(66, 66, 66);
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1299px) {
  .App {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    top: 0;
    margin-top: 12vh;
    padding-bottom: 10vh;
    padding-top: 0.5rem;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    z-index: 1;
  }
  .BDStandard {
    animation: bdAppear ease-out 3s linear 0s 1 forwards;
    margin-top: -12rem;
    margin-right: 15rem;
    margin-left: -15rem;
    transform: scale(0.9);
    overflow: hidden;
    z-index: 2;
  }
  .NewsFeedOn {
    position: absolute;
    color: rgb(0, 164, 230);
    font-size: 1.25rem;
    text-shadow: 0 0 50px rgb(122, 217, 255);
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    width: 43vw;
    height: 70vh;
    margin-top: -1vh;
    margin-left: 2vw;
    /* border: solid 1px rgb(213, 243, 255); */
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 15rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 0 80px rgb(122, 217, 255);
    filter: drop-shadow(0 0 50px #fff);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    z-index: 2;
    background: radial-gradient(#bcedfcf5, #92e6ffd7, #77e2ffce, #fdfeffc4);

    animation: NewsFeedFlicker 2s linear 0s infinite alternate-reverse;
    overflow-y: scroll;
  }
  .App button {
    height: 5rem;
    max-width: 10rem;
    border: double 0.1rem rgba(218, 165, 32, 0.466);
    border-radius: 0.5rem;
    position: relative;
    color: rgb(255, 230, 0);
    margin-left: 10rem;
    margin-top: 10rem;
    z-index: 3;
  }
  .NewsFeedOn h1 {
    color: rgb(66, 66, 66);
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1499px) {
  .App {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    top: 0;
    margin-top: 12vh;
    padding-bottom: 10vh;
    padding-top: 0.5rem;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    z-index: 1;
  }
  .BDStandard {
    animation: bdAppear ease-out 3s linear 0s 1 forwards;
    margin-top: -12.5rem;
    margin-right: 15rem;
    margin-left: -6rem;
    transform: scale(0.95);
    overflow: hidden;
    z-index: 2;
  }
  .NewsFeedOn {
    position: absolute;
    color: rgb(0, 164, 230);
    font-size: 1.25rem;
    text-shadow: 0 0 50px rgb(122, 217, 255);
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    width: 38vw;
    height: 70vh;
    margin-top: 0vh;
    margin-left: 6vw;
    /* border: solid 1px rgb(213, 243, 255); */
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 15rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 0 80px rgb(122, 217, 255);
    filter: drop-shadow(0 0 50px #fff);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    z-index: 2;
    background: radial-gradient(#bcedfcf5, #92e6ffd7, #77e2ffce, #fdfeffc4);

    animation: NewsFeedFlicker 2s linear 0s infinite alternate-reverse;
    overflow-y: scroll;
  }
  .App button {
    height: 5rem;
    max-width: 10rem;
    border: double 0.1rem rgba(218, 165, 32, 0.466);
    border-radius: 0.5rem;
    position: relative;
    color: rgb(255, 230, 0);
    margin-left: 10rem;
    margin-top: 10rem;
    z-index: 3;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1649px) {
  .App {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    top: 0;
    margin-top: 12vh;
    padding-bottom: 10vh;
    padding-top: 0.5rem;
    /* overflow-x: hidden;
    overflow-y: hidden; */
    z-index: 1;
  }
  .BDStandard {
    animation: bdAppear ease-out 3s linear 0s 1 forwards;
    margin-top: -13rem;
    margin-right: 15rem;
    margin-left: 4rem;
    transform: scale(0.95);
    overflow: hidden;
    z-index: 2;
  }
  .NewsFeedOn {
    position: absolute;
    color: rgb(0, 164, 230);
    font-size: 1.25rem;
    text-shadow: 0 0 50px rgb(122, 217, 255);
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    width: 38vw;
    height: 70vh;
    margin-top: 0vh;
    margin-left: 15vw;
    /* border: solid 1px rgb(213, 243, 255); */
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 15rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 0 80px rgb(122, 217, 255);
    filter: drop-shadow(0 0 50px #fff);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    z-index: 2;
    background: radial-gradient(#bcedfcf5, #92e6ffd7, #77e2ffce, #fdfeffc4);

    animation: NewsFeedFlicker 2s linear 0s infinite alternate-reverse;
    overflow-y: scroll;
  }
  .App button {
    height: 5rem;
    max-width: 10rem;
    border: double 0.1rem rgba(218, 165, 32, 0.466);
    border-radius: 0.5rem;
    position: relative;
    color: rgb(255, 230, 0);
    margin-left: 10rem;
    margin-top: 10rem;
    z-index: 3;
  }
}

@media only screen and (min-width: 1650px) {
  .BDStandard {
    animation: bdAppear ease-out 3s linear 0s 1 forwards;
    margin-top: -34rem;
    margin-right: 25rem;
    margin-left: 23vw;
    transform: scale(0.95);
    overflow: hidden;
    z-index: 2;
  }
  .NewsFeedOn {
    position: absolute;
    color: rgb(0, 164, 230);
    font-size: 1.25rem;
    text-shadow: 0 0 50px rgb(122, 217, 255);
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    width: 38vw;
    height: 70vh;
    margin-top: -35vh;
    margin-left: 25vw;
    /* border: solid 1px rgb(213, 243, 255); */
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 15rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 0 80px rgb(122, 217, 255);
    filter: drop-shadow(0 0 50px #fff);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    z-index: 2;
    background: radial-gradient(#bcedfcf5, #92e6ffd7, #77e2ffce, #fdfeffc4);

    animation: NewsFeedFlicker 2s linear 0s infinite alternate-reverse;
    overflow-y: scroll;
  }
  .App button {
    height: 5rem;
    max-width: 10rem;
    border: double 0.1rem rgba(218, 165, 32, 0.466);
    border-radius: 0.5rem;
    position: relative;
    color: rgb(255, 230, 0);
    margin-left: 10rem;
    margin-top: 25rem;
    z-index: 3;
  }
}

@media only screen and (min-width: 1900px) {
  .BDStandard {
    animation: bdAppear ease-out 3s linear 0s 1 forwards;
    margin-top: -34rem;
    margin-right: 25rem;
    margin-left: 30vw;
    transform: scale(0.95);
    overflow: hidden;
    z-index: 2;
  }

  @keyframes bdAppear {
    0% {
      visibility: hidden;
    }
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  .NewsFeedOn {
    position: absolute;
    color: rgb(0, 164, 230);
    font-size: 1.25rem;
    text-shadow: 0 0 50px rgb(122, 217, 255);
    text-align: justify;
    text-justify: inter-word;
    text-transform: lowercase;
    width: 38vw;
    height: 70vh;
    margin-top: -35vh;
    margin-left: 25vw;
    /* border: solid 1px rgb(213, 243, 255); */
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 15rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 0 80px rgb(122, 217, 255);
    filter: drop-shadow(0 0 50px #fff);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    z-index: 2;
    background: radial-gradient(#bcedfcf5, #92e6ffd7, #77e2ffce, #fdfeffc4);

    animation: NewsFeedFlicker 2s linear 0s infinite alternate-reverse;
    overflow-y: scroll;
  }
  .App button {
    height: 5rem;
    max-width: 10rem;
    border: double 0.1rem rgba(218, 165, 32, 0.466);
    border-radius: 0.5rem;
    position: relative;
    color: rgb(255, 230, 0);
    margin-left: 10rem;
    margin-top: 25rem;
    z-index: 3;
  }
  .MuteButton {
    transform: scale(0.25);
    margin-top: -15vh;
    padding: 0;
    opacity: 0.25;
  }
}

.MuteButton:hover {
  filter: drop-shadow(0 0 50px rgb(157, 240, 255));
  opacity: 1;
}
.MuteButton {
  position: fixed;
  transform: scale(0.25);
  margin-left: -1rem;
  margin-right: 0vw;
  margin-top: 2vh;
  margin-bottom: -10vh;

  padding: 0;
  opacity: 0.25;
  z-index: 4;
}

h1 {
  z-index: 3;
}

.NewsFeedOn::-webkit-scrollbar {
  right: 10vw;
  width: 0.75vw;
}

/* Track */
.NewsFeedOn::-webkit-scrollbar-track {
  background: radial-gradient(transparent 60%, rgba(255, 218, 5, 0.6));
  box-shadow: inset 0 0 5px rgb(255, 218, 5, 0.75);
  border-radius: 10px;
}

/* Handle */
.NewsFeedOn::-webkit-scrollbar-thumb {
  background: radial-gradient(rgba(255, 230, 5, 0.39), rgb(255, 218, 1, 0.25));
  border: rgb(255, 230, 5);
  box-shadow: inset 0 0 5px rgb(255, 197, 1, 0.75);
  border-radius: 10px;
  transition: 0.25s all 1s ease-in-out;
}

/* Handle on hover */
.NewsFeedOn::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(
    rgba(255, 209, 5, 0.692),
    rgba(255, 230, 5, 0.849)
  );
  transition: 0.25s all 1s ease-in-out;
}

@keyframes AppFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.BDStandardBody {
  cursor: pointer;
}

@keyframes squat {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.BDHop {
  animation: bdHop 0.45s linear 0s 1 forwards;
}
@keyframes bdHop {
  0% {
    opacity: 0;
    transform: translateY(0rem);
  }
  2% {
    opacity: 1;
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-20rem);
  }

  98% {
    opacity: 1;
    transform: translateY(0rem);
  }
  100% {
    opacity: 0;
    transform: translateY(0rem);
  }
}

.HideBDHop {
  animation: bdHop2 0.45s linear 0s 1 forwards;
}

@keyframes bdHop2 {
  0% {
    opacity: 0;
    transform: translateY(0rem);
  }
  2% {
    opacity: 1;
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-20rem);
  }

  98% {
    opacity: 1;
    transform: translateY(0rem);
  }
  100% {
    opacity: 0;
    transform: translateY(0rem);
  }
}

.HideForHop {
  animation: hideForHop 0.45s linear 0s 1 forwards;
}

@keyframes hideForHop {
  0% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.HideForHop2 {
  animation: hideForHop2 0.45s linear 0s 1 forwards;
}

@keyframes hideForHop2 {
  0% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ProjectorResize {
  transform: scale(0.85) translateX(650px) translateY(420px);
}

.ProjectorResize2 {
  transform: scale(0.85) translateX(450px) translateY(380px);
}

.ProjectorNotPowerUp {
  opacity: 0;
}

.ProjectorPowerUp {
  animation: ProjectorPowerOn 0.125s ease-in 0s 5;
}

@keyframes ProjectorPowerOn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ProjectorOn {
  /* opacity: 1; */
  transition: all 3s linear;
  transition-delay: 3s;
  animation: Projector 1.5s linear 0.5s infinite alternate;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}

@keyframes Projector {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0.75;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0.55;
  }
  85% {
    opacity: 0.75;
  }

  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.ProjectorOff {
  opacity: 0;
  transition: all 10s linear 0s;
}

.NewsFeedVisible {
  padding: 0rem;
  margin: 0rem;
  opacity: 1;
  transition: all 0.5s ease-out 0.625s;
  z-index: 2;
}

.NewsFeedInvisible {
  opacity: 0;
  transition: all 1s ease-in 0s;
  z-index: 2;
}

.NewsFeedOff {
  position: absolute;
  width: 15vw;
  height: 24vh;
  margin-top: 0vh;
  margin-left: 14vw;
  /* border: solid 1px rgb(213, 243, 255); */
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 6rem;
  border-bottom-left-radius: 3rem;
  box-shadow: 0 0 80px rgb(122, 217, 255);
  filter: drop-shadow(0 0 50px #fff);
  padding: 4rem;
  z-index: 2;
  background: radial-gradient(#bcedfccb, #f3fcffb7, #92e6ffd7, #b1e6f87e);
  opacity: 0;
  transition: all 4s linear 0s;
}

@keyframes NewsFeedFlicker {
  0% {
    box-shadow: 0 0 50px rgb(198, 239, 255);
    opacity: 1;
  }
  20% {
    box-shadow: 0 0 80px rgb(122, 217, 255);
    opacity: 0.9;
  }
  50% {
    box-shadow: 0 0 80px rgb(122, 217, 255);
    opacity: 1;
  }
  70% {
    box-shadow: 0 0 80px rgb(122, 217, 255);
    opacity: 0.9;
  }
  90% {
    box-shadow: 0 0 80px rgb(122, 217, 255);
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 50px rgb(122, 217, 255);
    opacity: 0.9;
  }
}

@font-face {
  font-family: Aurebesh;
  src: url(./Media/Fonts/englbesh.ttf);
}

@font-face {
  font-family: StarJedi;
  src: url(./Media/Fonts/Starjedi.ttf);
}
